{% extends '../template.html' %}

{% block bare-css %}
<link rel="stylesheet" type="text/css" href="/mockups.css">
{% endblock %}

{% block content %}
<div id="left-panel" class="active">
  {% include 'nav-menu.html' %}
  {% include 'snippet-list.html' %}
  <div id="left-toogle"></div>
</div>


<div id="right-panel">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <a href="#" class="btn btn-default navbar-btn pull-right">Pin</a>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="well full">

    </div>
  </div>
</div>

<style type="text/css">
#left-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 320px;
  z-index: 10;
  border-right: 1px solid #ddd;
}


#left-panel .navbar {
  background-color: white;
}

#left-toogle {
  width: 30px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 320px;
  z-index: 1;
  background-color: white;
  border-radius: 0 5px 5px 0;
  border-right: 1px solid #ddd;
  cursor: pointer;
}

#right-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  overflow-y: hidden;
  background-color: #f8f8f8;
}

@media (orientation: landscape) {
  #left-panel {
    left: 0;
  }

  #left-toogle {
    visibility: hidden;
  }

  #right-panel {
    left: 320px;
  }
}


@media (orientation: portrait) {
  #left-panel {
    left: -320px;
    -webkit-transition:left .5s ease-in-out;
    transition: left .5s ease-in-out;
  }

  #left-panel.active {
    left: 0;
  }

  #right-panel {
    left: 0px;
  }
}

#left-panel #snippet-list {
  position: absolute;
  top: 53px;
  bottom: 0;
  background-color: white;
  overflow-y: scroll;
}

.well.full {
  border: none;
  background-color: white;
}
</style>
{% endblock %}