{% extends '../template.html' %}

{% block bare-css %}
<link rel="stylesheet" type="text/css" href="/mockups.css">
{% endblock %}

{% block content %}
<ul id="tab-menu">
  <li class="bg-primary">Context<span class="badge">42</span></li>
  <li>Pinned<span class="badge">15</span></li>
  <li>Settings</li>
</ul>

<div id="desktop-content">
  {% include 'snippet-list.html' %}
</div>

<style type="text/css">
#tab-menu {
  position: absolute;
  top: 0;
  width: 70px;
  bottom: 0;
  left: 0;
  padding: 10px 0;
  margin: 0;
  background-color: #f8f8f8;
  border-right: 1px solid #e7e7e7;
  list-style: none;
}

#tab-menu li {
  width: 70px;
  text-align: center;
  padding: 10px;
  margin-top: -1px;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  cursor: pointer;
}

#tab-menu li:hover {
  background-color: white;
  border-radius: 5px;
}

#tab-menu li:last-child{
  position: absolute;
  bottom: 10px;
}

#desktop-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 70px;
  overflow: scroll;
}
</style>
{% endblock %}