<div id="snippet-list">
  <p class="bg-primary timestamp">Today</p>
  {% for i in [1] %}
    {% include 'snippet.html' %}
  {% endfor %}

  <p class="bg-primary timestamp">2 days ago</p>
  {% for i in [1,2,3] %}
    {% include 'snippet.html' %}
  {% endfor %}

  <p class="bg-primary timestamp">Last week</p>
  {% for i in [1,2,3] %}
    {% include 'snippet.html' %}
  {% endfor %}

  <p class="bg-primary timestamp">Last Month</p>
  {% for i in [1,2,3,4,5,6] %}
    {% include 'snippet.html' %}
  {% endfor %}
</div>

<style type="text/css">
  #context-switch a {
    cursor: pointer;
  }

  .icon{
    display: block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    margin-right: 5px;
  }

  #snippet-list .timestamp {
    padding: 5px;
    margin-bottom: 0;
    margin-top: 10px;
  }

  #snippet-list>:first-child{
    margin-top: 0;
  }

  #snippet-list .snippet {
    padding: 5px;
    margin-top: 0;
    margin-bottom: -1px;
    border-bottom: 1px solid #ddd;
    color: #646464;
  }

  .snippet a {
    color: inherit;
    text-decoration: none;
  }

  .snippet .title {
    color: #333;
  }
</style>