<nav class="navbar navbar-default navbar-result" role="navigation">
  <div class="container-fluid">
    <div class="btn-group navbar-btn" id="context-switch">
      <a class="btn btn-primary">
        Context  <span class="badge">42</span>
      </a>
      <a class="btn btn-default">
        Pinned  <span class="badge">5</span>
      </a>
    </div>

    <a class="btn btn-default navbar-btn pull-right" id="filter" data-toggle="popover" title="">Filters</a>
  </div>
</nav>

<div class="hidden">
  <div id="filter-popover">
    <label for="provider">Provider</label>
    <select class="form-control" id="provider">
      <option>All</option>
      <option>Gmail</option>
      <option>Dropbox</option>
    </select>

    <label for="type">Type</label>
    <select class="form-control" id="type">
      <option>All</option>
      <option>Pdf</option>
      <option>Image</option>
    </select>
  </div>
</div>

<div id="snippet-list">
  <p class="bg-primary timestamp">Today</p>
  {% for i in [1] %}
    {% include 'snippet.html' %}
  {% endfor %}

  <p class="bg-primary timestamp">2 days ago</p>
  {% for i in [1,2,3] %}
    {% include 'snippet.html' %}
  {% endfor %}

  <p class="bg-primary timestamp">Last week</p>
  {% for i in [1,2,3] %}
    {% include 'snippet.html' %}
  {% endfor %}

  <p class="bg-primary timestamp">Last Month</p>
  {% for i in [1,2,3,4,5,6] %}
    {% include 'snippet.html' %}
  {% endfor %}
</div>

<style type="text/css">
  .navbar {
    border-radius: 0;
    border-right: 0;
    border-left: 0;
    margin-bottom: -50px;
    -webkit-transition: top .5s ease-in-out;
    transition: top .5s ease-in-out;
  }

  #context-switch a {
    cursor: pointer;
  }

  .icon{
    display: block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    margin-right: 5px;
  }

  #snippet-list .timestamp {
    padding: 5px;
    margin-bottom: 0;
    margin-top: 10px;
  }

  #snippet-list>:first-child{
    margin-top: 0;
  }

  #snippet-list .snippet {
    padding: 5px;
    margin-top: 0;
    margin-bottom: -1px;
    border-bottom: 1px solid #ddd;
    color: #646464;
  }

  .snippet a {
    color: inherit;
    text-decoration: none;
  }

  .snippet .title {
    color: #333;
  }
</style>