{% extends './template.html' %}

{% block content %}

<!-- Context block -->
<script type="text/javascript">
{% autoescape false %}
    window.creds = {{{creds|json}}};
    window.context = {{{context|json}}};
{% endautoescape %}
</script>

<section data-ng-controller="IndexController" class="container-fluid timeline">
  <div class="col-md-8 left">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Timeline</a></li>
            <li><a href="">Search</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Settings</a></li>
          </ul>
      </div><!-- /.container-fluid -->
    </nav>

    <div class="content">
      <div class= "about lead">
        About <span>{{global.context.query}}</span>
      </div>

      <div class="documents">
        <ul>
          <li ng-repeat="doc in documents" ng-click='displayFull(doc)' class='snippet-container'>
            <header>
              {{documentTypes[doc.document_type].name}} - {{providers[doc.token].name}}
            </header>
            <div ng-bind-html="doc.rendered"></div>
            <div clear="both"></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4 right">
    <div class="pinned-container">
      <div class="lead">Pinned</div>
    </div>
  </div>
</section>
{% endblock %}