@import "custom-bootstrap.less";
@import "app/about.less";
@import "app/full.less";

html, body, section.container-fluid  {
  height: 100%;
}

section.container-fluid {
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
}

.panel-heading {
  padding: 0 10px;
  line-height: 30px;

  .bookmark:hover {
    background-color: darken(@gray-lighter, 3%);
  }
}

form .row {
  margin-bottom: 10px;
}

.bookmark {
  width: 30px;
  height: 30px;
  margin: 0;
  background-size: 20px;
  background-image: url('/img/standard-icons/bookmark.png');
  background-position: center;
  background-repeat: no-repeat;
}

.snippet-container, .snippet-container:hover {
  color: #999696;
  text-decoration: none;
}

.snippet-container {
  border-bottom: 1px solid #EBEBEB;
  margin-bottom: 10px;
  padding: 1px;
  font-size: 12px;

  header {
    color: #999696;
    text-align: right;
  }

  h1 {
    font-size: 15px;
    margin: 5px 0;
    color: #2A94D6;
  }

  .hlt {
    font-weight: bold;
  }

  blockquote {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 12px;
  }

  img {
    max-width: 93%;
    display: block;
    margin: 10px auto;
  }
}

