{% extends './template.html' %}

{% block content %}

<section class="container">
  <h2 class= "about about-{{data.context.recordType|lower}}">
    <div class="icon"></div>
    About <strong>{{data.context.templatedDisplay}}</strong>
  </h2>

  </form>

  <div class="row">
    {% for doc in documents.datas %}
      <div data-document-url="/app/documents/{{doc.id}}" class="col-xs-12 panel panel-default snippet-container">
        <div class="panel-heading">
          {{doc.document_type|capitalize}} - {{doc.provider|capitalize}}
        </div>
        <div class="panel-body">
          {% autoescape false %}{{doc.snippet_rendered}}{% endautoescape %}
        </div>
      </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
