{% extends './template.html' %}

{% block content %}

<section class="container">
  <a href="/app/context-search" class="link">Return to context</a>

  <h2>Connect providers</h2>

  <hr/>

  <div class="row">
    {% for provider in providers %}
      <div class="col-md-4">
        <div class="well provider">
          <img src="/img/provider-icons/{{provider.id}}.png" class="pull-left provider-icon">
          <div class="pull-left">
            <p>{{provider.name}}</p>
            <a href="/app/providers/connect?app_id={{provider.id}}" class="btn btn-primary btn-sm">Connect</a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
