{% extends './template.html' %}

{% block content %}
<a href="#" class="back-btn hidden">
  Return to results
</a>
<section class="container full">
  <div class="col-xs-12 panel panel-default snippet-container">
    <div class="panel-heading">
      {{document.title_rendered|capitalize}}
    </div>
    <div class="panel-body">

      <div class="actions-container">
        {{document.document_type|capitalize}} - {{document.provider|capitalize}}
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
              Action <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right" role="menu">
            {% for action in document.actions %}
            <li><a href="{{action}}">{{loop.key}}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>

      {% autoescape false %}{{document.full_rendered}}{% endautoescape %}
    </div>
  </div>
</section>
{% endblock %}