{% extends './template.html' %}

{% block content %}
<a href="#" class="back-btn hidden">
  Return to results
</a>
<section class="container full">
  <div class="col-xs-12 panel panel-default snippet-container">
    <div class="panel-heading">
      {{document.document_type|capitalize}} - {{document.provider|capitalize}}
      <div class="bookmark pull-right"></div>
    </div>
    <div class="panel-body">
      {% autoescape false %}{{document.full_rendered}}{% endautoescape %}
    </div>
  </div>
</section>
{% endblock %}