@import "custom-bootstrap.less";

body {
  background: #F7F5F8;
}

.timeline, .timeline > div {
  padding-left: 0;
  padding-right: 0;
}

.timeline.right {
  background: white;
}

.content {
  padding-right: 2%;
  padding-left: 2%;
}

.about {
  font-weight: 500;

  span {
    color: #6f5499;
  }
}